.none {
	display: none !important;
}

body {
	background-color: #fffdf1;
}

.app {
	margin: 0 auto;
	max-width: 1200px;
}

.news {
	font-size: 18px;
}

.news__author {
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.5);
}

.news__count {
	display: block;
	margin-top: 20px;
}

.article {
	padding: 10px 0;
}