.none {
	display: none !important;
}

body {
	background-color: #fffdf1;
}

.app {
	margin: 0 auto;
	max-width: 1200px;
}

.add {
	margin-bottom: 30px;
	width: 50%;
}
@media(max-width: 700px) {
	.add { width: 100%; }
} 

.add__author, .add__text, .add__check-rule, .add__alert-button {
	margin: 15px 0;
	display: block;
}

.add__author, .add__text {
	padding: 3px 10px;
	width: 100%;
	box-sizing: border-box;
}

.news {
	font-size: 18px;
}

.news__author {
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.5);
}

.news__count {
	display: block;
	margin-top: 20px;
}

.article {
	padding: 10px 0;
}
